TH {
color : #FFFFFF; 
background-color: #88654E;
border-width: 1px;
border-style: solid;
border-color: red;
font-size: 9pt;
}
TD {
color : #EAE4E0
background-color : #EAE4E0;
border-width: 1px;
border-style : solid;
border-color : black;
font-size : 9pt;
}